/* .logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
} */
.logoi {
  width: 125px;
  height: 125px;
}

.header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
}
.nav {
  list-style: none;
}
.nav li {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
}
.nav li:link {
  transition: 0.3s;
  color: whitesmoke;
}
